*{
    padding: 0;
    margin: 0;
}


/* header <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* nav1 <<<<<<<<<<<<<<<<<<<<<<<<<< */

#div_myNav1{
    position: sticky;
    top: 0;
}
/* logos <<<<<<<<<<<<<<<<<<<<<<<<< */

.ri-phone-fill{
    color: gold;
    /* justify-content: right; */
}
.ri-calendar-check-fill{
    color: gold;
    /* justify-content: right; */
}
.ri-send-plane-fill{
    color: gold;
    /* justify-content: left; */
}
.ri-chat-3-fill{
    color: gold;
    /* justify-content: left; */
}


/* logos >>>>>>>>>>>>>>>>>>>>>>>>> */


#myNav1{
    background-color: #24111e;
    color: white;
    padding: 0px 15em;
    display: block;
    position: sticky; /* Rend la navbar sticky */
    top: 0;          /* S'accroche en haut de la fenêtre */
    z-index: 1000; 
}

#myNav1 ul li{
    display: inline-block;
    padding: 0px 20px;
    border-left: 1px gray solid;
    height: 50px;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
}

.right_border_i{
    border-right: 1px gray solid;
}

#myNav1 ul li a{
    color: #fff;
    text-decoration: none;
}

#myNav1 ul li a i{
    position: relative;
    padding-left: 2px;
    padding-right: 5px;
    z-index: -1;
}


#leftNavs{
    position: absolute;
    left: 70%;
    /* transform: translateX(-50); */
}
/* nav1 >>>>>>>>>>>>>>>>>>>>>>>>>> */





/* div_imageHead <<<<<<<<<<<<<<<<< */
#titleHead{
    background-color: rgb(249, 249, 249);
    padding: 1em 3.5em;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#contactHeader{
    display: flex;
    margin: 10px;
    height: 35px;
    width: auto;
}

.imageHead{
    display: inline;
}

#imageHead1{
    margin-right: 13px;
}

#data_contactHeader{
    margin-top: 0px;
}

#data_contactHeader a {
    text-decoration: none;
    color: black;
}




#titleHeader{
    display: flex;
}

#imageHead2{
    display: inline;
}





#positionHeader{
    display: flex;
    flex-direction: row;
}

#imageHead3{
    margin-right: 10px;
}

#data_position p {
    display: inline;
}

#data_position{
    margin-top: 5px;
}

@media (max-width: 700px) {
    #titleHead{
        background-color: rgb(249, 249, 249);
        padding: 1em 0em;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
/* div_imageHead >>>>>>>>>>>>>>>>> */







/* myNav2 <<<<<<<<<<<<<<<<<<<<<<<< */
#div_myNav2{
    background-color: #fff;
    padding: 20px 50px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#myNav2{
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1002;
}

#myNav2 ul li{
    list-style: none;
    color: black;
    padding: 10px 20px;
    display: inline;
}

#myNav2 ul li a{
    color: black;
    text-decoration: none;
}
/* myNav2 >>>>>>>>>>>>>>>>>>>>>>>> */



/* header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */








/* container <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

#container{
    background-color: #f0f0f0;
}

/* slidesContainer <<<<<<<<<<<<<<< */
.slidesContainer{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.myImg{
    width: 100%;
    /* display: none; */
    height: 400px;
    object-fit: cover;
}

.mySlide {
    width: 100%;
    display: none;
    height: 400px;
    object-fit: cover;
}

.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}


.image-container {
    position: relative;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

#leftBtn,#rightBtn{
    position: absolute;
    top:50%;
    /* margin: 20px auto; */
    color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,0);
    font-size: 4em;
    cursor: pointer;
    /* border-radius: 50px; */
    transform: translateY(-50%);
    /* padding: -5px; */
    margin-left: 20px; 
    border: 0px solid black;
    margin-right: 20px;
    color: rgba(255,255,255,.8);
    border-radius: 50%;
}

#leftBtn:hover,#rightBtn:hover{
    border: none;
    color: rgb(214, 182, 0);;
}

#leftBtn:visited,#rightBtn:visited{
    border: none;
}

.ri-arrow-left-circle-fill,.ri-arrow-right-circle-fill{
    margin: -10px;
}

#leftBtn{
    left:0;
    margin-left: 200px;
}

#rightBtn{
    right: 0;
    margin-right: 200px;
}

.slides{
    display: flex;
}

.mySlide {
    min-width: 100%;
    position: relative;
}

.slide-text {
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
    color: white;
    background-color: rgba(0, 0, 0, .1);
    padding: 10px 20px;
    max-width: 80%;
    /* padding: 20px 130px; */
    margin: 10px 180px;
}

.upperCaseFont{
    text-transform: uppercase;
}

h3{
    font-size: 4.6em;
}

h4{
    max-width: 800px;
    font-size: .7em;
}
.spanGold{
    color: rgb(214, 182, 0);; 
    font-weight: bold; 
    margin-right: 10px;
}

.h4Gold{
    color: gold;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade{
    from{opacity: .7;}
    to{opacity: 1;}
}



/* slidesContainer >>>>>>>>>>>>>>> */








/* #myGrid1 <<<<<<<<<<<<<<<<<<<<<< */
.centerMyDiv{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.myGrid1{
    display: grid;
    grid-template-columns: repeat(2,630px);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "blabla bijaoux"
                         "blabla bijaoux"
                         "google bijaoux"    
    ;
}

.myDivs000{
    margin: 10px;

}

#myDiv001{
    grid-area: blabla;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 20px;
}

#myDiv002{
    grid-area: google;
    background: url(https://www.antheor-paris.fr/assets/img/L00011.jpg);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#myDiv002 img{
    width: 150px;
    margin: 10px auto;
    display: flex;
}

#myDiv003{
    grid-area: bijaoux;
}

#myDiv003 img{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: non;    
}


.myP{
    color: 2f2f2f;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
}

#myUl000 i{
    color: rgb(214, 182, 0);
}

.myLi000{
    list-style: none;
    text-decoration: none;
}

.myLi000 i{
    margin: 5px 10px;
    /* display: inline-block; */
}

/* .myLi000 span{
    /* display: inline-block; */


/* #myGrid1 >>>>>>>>>>>>>>>>>>>>>> */









/* myGrid2 <<<<<<<<<<<<<<<<<<< */
.myGrid2{
    display: grid;
    grid-template-columns: repeat(2,630px);
    grid-template-rows: repeat(1,auto);
    grid-template-areas: "help1 help2";
    font-size: 1.2em;
}
#div_jelp{
    height: 30vh;
}

.myDivs100{
    margin: 10px;
}

#myDiv101{
    grid-area: help1;
}


#myDiv102{
    grid-area: help2;

}

#myDiv102 span{
    margin-right: 10px;
}

#myDiv102 i{
    color: rgb(214, 182, 0);
}

.sub_span2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:1.2em;
}

/* myGrid2 >>>>>>>>>>>>>>>>>>>)))) */





/* myGrid3 <<<<<<<<<<<<<<<<<<<<<<< */
#div_myGrid3{
    height: 20vh;
}

.myGrid3{
    text-align: center;
}

.myGrid3 span{
    font-size: 1em;
}

.myGrid3 #myP{
    font-size: 3em;
    margin-bottom: 10px;
}
/* myGrid3 >>>>>>>>>>>>>>>>>>>>>>> */








/* myGrid4 <<<<<<<<<<<<<<<<<<<<<<< */

#div_myGrid4{
    height: 30vh;
}

.myGrid4{
    display: grid;
    grid-template-columns: repeat(2,620px);
    grid-template-rows: repeat(1,150px);
    grid-template-areas: "box2 box1";
    font-size: 1.2em;
}


.myDivs401{
    background-color: #fff;
    position: relative;
    margin: 25px;
    display: flex;
    padding-left: 120px;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.myDivs402{
    position: absolute;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: rgb(214, 182, 0);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.myDivs402 i{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    font-size: 3.5em;
    width: 100px;
    color: white;
}
/* myGrid4 >>>>>>>>>>>>>>>>>>>>>>> */


/* container >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */